<!DOCTYPE html>

<html lang="ko">
{% load static %}
<head>
    <title>색상 배경과 사각형 박스</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
    <div class="box">
      	<input class="dark-light" type="checkbox" id="dark-light" name="dark-light"/>
  	<label for="dark-light"></label>

  	<div class="light-back"></div>

	<a href="https://front.codes/" class="logo" target="_blank">
		<img src="https://assets.codepen.io/1462889/fcy.png" alt="">
	</a>

  	<div class="sec-center">
	  	<input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
	  	<label class="for-dropdown" for="dropdown">Dropdown Menu <i class="uil uil-arrow-down"></i></label>
  		<div class="section-dropdown">
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
		  	<input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub"/>
		  	<label class="for-dropdown-sub" for="dropdown-sub">Dropdown Sub <i class="uil uil-plus"></i></label>
	  		<div class="section-dropdown-sub">
	  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
	  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
	  		</div>
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
  			<a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
  		</div>
  	</div>
    </div>
</body>
</html>
