body {
  background-color: #1f2029;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/static/img/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
}

.box {
  width: 779px;
  height: 531px;
  border-radius: 25px;
  background-color: #2a2b38;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.todo-list {
  width: 80%;
  height: 100%;
  background-color: #fff;
  padding-top: 20px;
  bottom: 0;
  background-color: rgba(194, 193, 200, 0);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: hidden;
  align-items: flex-end;
}

.tool_box{
  margin-right: 10px;
}

::-webkit-scrollbar {
  display: none;
  /* 크롬, 사파리, 오페라, 엣지 */
}

.todo {
  border-radius: 25px;
  color: black;
  top: 40px;
  height: 50px;
  width: 100%;
  background-color: rgba(194, 193, 200, 1);
  margin-bottom: 7px;
}

.work {
  display: block;
  height: 50px;
  width: 70%;
  border-radius: 25px;
  background-color: rgba(194, 193, 200, 1);
  margin-bottom: 7px;
}

.todo-details.active {
  margin-top: 15px;
  display: block;
  position: absolute;
  right: 0;
}

.work-memo {
  height: 35px; 
  width: 50%;
  border-radius: 25px;
  background-color: rgba(194, 193, 200, 1);
  margin-bottom: 7px;
}

.work-memo.active {
  margin-top: 15px;
  display: block;
  position: absolute;
  right: 0;
}

.todo-header,
.work-details-header,
.work-memo-header {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding-left: 35px;
  height: 100%;
  justify-content: space-between;
  align-content: center;
}

.task-toggle-button,
.memo-toggle-button,
.edit-button,
.complete-button,
.delete-button,
.add-button,
.memo-button {
  background-color: rgba(194, 193, 200, 0);
  border-style: solid;
  border-width: 0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;  
}

.todo-name {
  display: inline-block;
  font-size: 20px;
}

.todo-exp {
  font-size: 14px;
  padding-top: 7px;
  margin-left: 15px;
}

.complete{
  background-color: #FFEBA7;
}

.complete_btn{
  color: #13E829;
}

.options{
  display: flex;
  width: 80%;
  justify-content: space-between;
  color: #FFEBA7;
  margin-bottom: 15px;
}

.sort{
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 25px;
  padding: 5px;
  transition-duration: 0.5s;
}

.create-todo-button{
  position: relative;
  right: 0;
  cursor: pointer;
}

.work-details-header input {
  width: 30%;
}